@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles can go here */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9fafb; /* Light gray background */
}
